# files produced by compiler
*.o
*.hi
*.errors

# compiled xmonad executable
xmonad-x86_64-linux
xmonadctl

# files used by stack and cabal
.stack-work/
dist-newstyle/
dist/
stack.yaml.lock
cabal.project.local

# directory created by `build` script
bin/

# files automatically created by xmonad
xmonad.state
xmonad.warn

# xpm directory that contains some icons
xpm/

# ghci
prompt-history
.ghci

# hoogle
*.hoo